In [4]:
import pandas as pd

In [5]:
forsale_data = "Resources1/Forsale_inventory.csv"
homevalue_index = "Resources1/Homevalue_index.csv"
homevalue_forecast = "Resources1/Homevalue_forecast.csv"
newlisting_inv = "Resources1/Newlisting_inventory.csv"
sale_price = "Resources1/Median_saleprice.csv"

In [6]:
# Create a DataFrame for the all the data sets . 
forsale_data_df = pd.read_csv(forsale_data)
homevalue_index_df = pd.read_csv(homevalue_index, index_col = False)
homevalue_forecast_df = pd.read_csv(homevalue_forecast)
newlisting_inv_df = pd.read_csv(newlisting_inv)
saleprice_df =  pd.read_csv(sale_price)
sale_states = pd.read_csv(sale_price)

### Homevalue_index

In [ ]:
# Drop dates from 2000-2017
#forsale_data_df = forsale_data_df.drop(['RegionType', 'SizeRank', '2018-01-31','2018-02-28','2018-03-31','2018-04-30','2018-05-31'], axis = 1
homevalue_index_df.drop(homevalue_index_df.iloc[:, 5:221], inplace=True, axis=1)

In [ ]:
homevalue_index_df= homevalue_index_df.drop(['RegionType', 'SizeRank'], axis = 1)
homevalue_index_df

In [ ]:
#Dropping rows with null values 
homevalue_index_dfnew = homevalue_index_df.dropna()
homevalue_index_dfnew

### FORSALE_INVENTORY

In [ ]:
# Drop irrelevant columns
forsale_data_df = forsale_data_df.drop(['RegionType', 'SizeRank'], axis = 1)

In [ ]:
#Dropping rows with null values 
forsale_data_dfnew = forsale_data_df.dropna()
forsale_data_dfnew

In [ ]:
#Getting rid of all states that are not Texas
drop_nontexas = forsale_data_dfnew[forsale_data_dfnew['StateName'] != 'TX'].index
forsale_data_dfnew.drop(drop_nontexas, inplace = True)

In [ ]:
#Splitting the city and country in region name
forsale_data_dfnew['City'] = forsale_data_dfnew['RegionName'].str.split(',').apply(lambda x: x[0])

forsale_data_dfnew

In [ ]:
# Drop irrelevant columns
forsale_data_dfnew = forsale_data_dfnew.drop(['RegionName', 'StateName'], axis = 1)
forsale_data_dfnew

In [ ]:
# Moving the City column to the be the first column
forsale_data_dfnew = forsale_data_dfnew.reindex(columns=['City'] + list(forsale_data_dfnew.columns[:-1]))
forsale_data_dfnew

### Newlisting_inventory

In [ ]:
# Drop irrelevant columns
newlisting_inv_df = newlisting_inv_df.drop(['RegionType', 'SizeRank'], axis = 1)

In [ ]:
#Dropping rows with null values 
newlisting_inv_dfnew = newlisting_inv_df.dropna()
newlisting_inv_dfnew

In [ ]:
#Getting rid of all states that are not Texas
drop_nontexas1 = newlisting_inv_dfnew[newlisting_inv_dfnew['StateName'] != 'TX'].index
newlisting_inv_dfnew.drop(drop_nontexas1, inplace = True)

#Splitting the city and country in region name
newlisting_inv_dfnew['City'] = newlisting_inv_dfnew['RegionName'].str.split(',').apply(lambda x: x[0])

newlisting_inv_dfnew

In [ ]:
# Drop irrelevant columns
newlisting_inv_dfnew = newlisting_inv_dfnew.drop(['RegionName', 'StateName'], axis = 1)
newlisting_inv_dfnew

In [ ]:
# Moving the City column to the be the first column
newlisting_inv_dfnew = newlisting_inv_dfnew.reindex(columns= ['City'] + list(newlisting_inv_dfnew.columns[:-1]))
newlisting_inv_dfnew

### Median Sale Price

In [ ]:
# Drop dates from 2000-2017
#forsale_data_df = forsale_data_df.drop(['RegionType', 'SizeRank', '2018-01-31','2018-02-28','2018-03-31','2018-04-30','2018-05-31'], axis = 1
saleprice_df.drop(saleprice_df.iloc[:, 5:110], inplace=True, axis=1)
saleprice_df

In [ ]:
# Drop irrelevant columns
saleprice_df = saleprice_df.drop(['RegionType', 'SizeRank'], axis = 1)

In [ ]:
#Dropping rows with null values 
saleprice_dfnew = saleprice_df.dropna()
saleprice_dfnew

In [ ]:
saleprice_dfnew.drop(saleprice_dfnew.iloc[:, 20:100], inplace=True, axis=1)

In [ ]:
saleprice_dfnew

In [ ]:
#Getting rid of all states that are not Texas
#drop_nontexas2 = saleprice_dfnew[saleprice_dfnew['StateName'] != 'TX'].index
#saleprice_dfnew.drop(drop_nontexas2, inplace = True)

#Splitting the city and country in region name
saleprice_dfnew['City'] = saleprice_dfnew['RegionName'].str.split(',').apply(lambda x: x[0])

saleprice_dfnew

In [ ]:
# Drop irrelevant columns
saleprice_dfnew = saleprice_dfnew.drop(['RegionName'], axis = 1)
saleprice_dfnew

In [ ]:
# Moving the City column to the be the first column
saleprice_dfnew = saleprice_dfnew.reindex(columns= ['City'] + list(saleprice_dfnew.columns[:-1]))
saleprice_dfnew

In [ ]:
# Export the forsale_inventory Dataframe as a new CSV file without the index.
forsale_data_dfnew.to_csv('CleanForsale.csv', index=False)

In [ ]:
# Export the Newlisting_inv Dataframe as a new CSV file without the index.
newlisting_inv_dfnew.to_csv('CleanNewlisting.csv', index=False)

In [ ]:
# Export the saleprice Dataframe as a new CSV file without the index.
saleprice_dfnew.to_csv('Clean_mediansale_price.csv', index=False)

In [ ]:
State_ID = list(range(20))

In [ ]:
State_ID

## States csv

In [ ]:
#forsale_data_df = forsale_data_df.drop(['RegionType', 'SizeRank', '2018-01-31','2018-02-28','2018-03-31','2018-04-30','2018-05-31'], axis = 1
sale_states.drop(saleprice_df.iloc[:, 5:250], inplace=True, axis=1)
sale_states

In [ ]:
#Dropping rows with null values 
sale_statesnew = sale_states.dropna()
sale_statesnew

In [ ]:
# Drop irrelevant columns
sale_statesnew = sale_statesnew.drop(['RegionID', 'RegionType', 'StateName'], axis = 1)
sale_statesnew

In [ ]:
#sale_statesnew.rename({SizeRank: CityID}, axis='index')
sale_statesnew.columns = ['CityID', 'RegionName']
sale_statesnew

In [ ]:
# Export the saleprice Dataframe as a new CSV file without the index.
sale_statesnew.to_csv('states.csv', index=False)

### Years 2017-2019 CSV

In [7]:
# Drop dates from 2000-2017
#forsale_data_df = forsale_data_df.drop(['RegionType', 'SizeRank', '2018-01-31','2018-02-28','2018-03-31','2018-04-30','2018-05-31'], axis = 1
saleprice_df.drop(saleprice_df.iloc[:, 5:110], inplace=True, axis=1)
saleprice_df

,RegionID,SizeRank,RegionName,RegionType,StateName,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
0,102001,0,United States,Country,NaN,224767.0,223433.0,222800.0,225667.0,230333.0,...,292000.0,292654.0,290321.0,289654.0,294000.0,304000.0,314000.0,322333.0,327333.0,330000.0
1,394913,1,"New York, NY",Msa,NY,386000.0,387000.0,387000.0,390333.0,395000.0,...,468333.0,471667.0,471667.0,471667.0,475000.0,483333.0,495000.0,510000.0,522917.0,534583.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,571833.0,570167.0,577498.0,589165.0,602498.0,...,735667.0,732667.0,728333.0,735000.0,750333.0,775333.0,799333.0,817333.0,825667.0,828333.0
3,394463,3,"Chicago, IL",Msa,IL,211333.0,211333.0,216200.0,224867.0,234833.0,...,265000.0,263333.0,257592.0,255925.0,259258.0,268333.0,281667.0,290000.0,293667.0,292000.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,236500.0,239000.0,242333.0,249667.0,256667.0,...,299667.0,300000.0,297998.0,301332.0,307998.0,320667.0,334000.0,345667.0,354568.0,356235.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,394528,90,"Daytona Beach, FL",Msa,FL,174667.0,173000.0,174667.0,178333.0,181633.0,...,246333.0,249000.0,251500.0,255100.0,259100.0,265930.0,269297.0,274297.0,279133.0,285800.0
91,394531,91,"Des Moines, IA",Msa,IA,181667.0,179333.0,177867.0,178533.0,185200.0,...,234000.0,237917.0,238190.0,236405.0,234155.0,237882.0,243000.0,249667.0,252878.0,259045.0
92,395006,100,"Provo, UT",Msa,UT,258300.0,261633.0,262550.0,266584.0,269917.0,...,373000.0,380065.0,386565.0,392065.0,399833.0,418333.0,435000.0,450208.0,456592.0,463258.0
93,394549,104,"Durham, NC",Msa,NC,237667.0,240750.0,238583.0,244733.0,247317.0,...,307808.0,310730.0,308005.0,303505.0,311333.0,326667.0,347500.0,361152.0,373486.0,377474.0
94,394602,159,"Fort Collins, CO",Msa,CO,342650.0,345783.0,345783.0,347633.0,348333.0,...,425500.0,415469.0,415036.0,421026.0,433057.0,435306.0,448134.0,454134.0,470985.0,476333.0

In [8]:
#Dropping rows with null values 
saleprices_ = saleprice_df.dropna()
saleprices_

,RegionID,SizeRank,RegionName,RegionType,StateName,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
1,394913,1,"New York, NY",Msa,NY,386000.0,387000.0,387000.0,390333.0,395000.0,...,468333.0,471667.0,471667.0,471667.0,475000.0,483333.0,495000.0,510000.0,522917.0,534583.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,571833.0,570167.0,577498.0,589165.0,602498.0,...,735667.0,732667.0,728333.0,735000.0,750333.0,775333.0,799333.0,817333.0,825667.0,828333.0
3,394463,3,"Chicago, IL",Msa,IL,211333.0,211333.0,216200.0,224867.0,234833.0,...,265000.0,263333.0,257592.0,255925.0,259258.0,268333.0,281667.0,290000.0,293667.0,292000.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,236500.0,239000.0,242333.0,249667.0,256667.0,...,299667.0,300000.0,297998.0,301332.0,307998.0,320667.0,334000.0,345667.0,354568.0,356235.0
5,394974,5,"Philadelphia, PA",Msa,PA,226333.0,221333.0,217667.0,222000.0,231000.0,...,278974.0,278300.0,275000.0,271167.0,267833.0,272833.0,281200.0,293950.0,302283.0,309417.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,394528,90,"Daytona Beach, FL",Msa,FL,174667.0,173000.0,174667.0,178333.0,181633.0,...,246333.0,249000.0,251500.0,255100.0,259100.0,265930.0,269297.0,274297.0,279133.0,285800.0
91,394531,91,"Des Moines, IA",Msa,IA,181667.0,179333.0,177867.0,178533.0,185200.0,...,234000.0,237917.0,238190.0,236405.0,234155.0,237882.0,243000.0,249667.0,252878.0,259045.0
92,395006,100,"Provo, UT",Msa,UT,258300.0,261633.0,262550.0,266584.0,269917.0,...,373000.0,380065.0,386565.0,392065.0,399833.0,418333.0,435000.0,450208.0,456592.0,463258.0
93,394549,104,"Durham, NC",Msa,NC,237667.0,240750.0,238583.0,244733.0,247317.0,...,307808.0,310730.0,308005.0,303505.0,311333.0,326667.0,347500.0,361152.0,373486.0,377474.0
94,394602,159,"Fort Collins, CO",Msa,CO,342650.0,345783.0,345783.0,347633.0,348333.0,...,425500.0,415469.0,415036.0,421026.0,433057.0,435306.0,448134.0,454134.0,470985.0,476333.0

In [9]:
# Drop irrelevant columns
saleprice_clean = saleprices_.drop(['RegionID', 'RegionType', 'StateName', 'SizeRank'], axis = 1)
saleprice_clean

,RegionName,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,2017-08-31,2017-09-30,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
1,"New York, NY",386000.0,387000.0,387000.0,390333.0,395000.0,406667.0,420000.0,426667.0,425000.0,...,468333.0,471667.0,471667.0,471667.0,475000.0,483333.0,495000.0,510000.0,522917.0,534583.0
2,"Los Angeles-Long Beach-Anaheim, CA",571833.0,570167.0,577498.0,589165.0,602498.0,609667.0,615000.0,617917.0,619583.0,...,735667.0,732667.0,728333.0,735000.0,750333.0,775333.0,799333.0,817333.0,825667.0,828333.0
3,"Chicago, IL",211333.0,211333.0,216200.0,224867.0,234833.0,241800.0,243467.0,240900.0,233400.0,...,265000.0,263333.0,257592.0,255925.0,259258.0,268333.0,281667.0,290000.0,293667.0,292000.0
4,"Dallas-Fort Worth, TX",236500.0,239000.0,242333.0,249667.0,256667.0,261333.0,261643.0,259583.0,254917.0,...,299667.0,300000.0,297998.0,301332.0,307998.0,320667.0,334000.0,345667.0,354568.0,356235.0
5,"Philadelphia, PA",226333.0,221333.0,217667.0,222000.0,231000.0,243633.0,249300.0,250967.0,243000.0,...,278974.0,278300.0,275000.0,271167.0,267833.0,272833.0,281200.0,293950.0,302283.0,309417.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,"Daytona Beach, FL",174667.0,173000.0,174667.0,178333.0,181633.0,185633.0,188967.0,192233.0,192733.0,...,246333.0,249000.0,251500.0,255100.0,259100.0,265930.0,269297.0,274297.0,279133.0,285800.0
91,"Des Moines, IA",181667.0,179333.0,177867.0,178533.0,185200.0,193000.0,196333.0,197000.0,194000.0,...,234000.0,237917.0,238190.0,236405.0,234155.0,237882.0,243000.0,249667.0,252878.0,259045.0
92,"Provo, UT",258300.0,261633.0,262550.0,266584.0,269917.0,272460.0,274960.0,275432.0,276970.0,...,373000.0,380065.0,386565.0,392065.0,399833.0,418333.0,435000.0,450208.0,456592.0,463258.0
93,"Durham, NC",237667.0,240750.0,238583.0,244733.0,247317.0,256983.0,262667.0,265000.0,259167.0,...,307808.0,310730.0,308005.0,303505.0,311333.0,326667.0,347500.0,361152.0,373486.0,377474.0
94,"Fort Collins, CO",342650.0,345783.0,345783.0,347633.0,348333.0,351650.0,354983.0,355845.0,350331.0,...,425500.0,415469.0,415036.0,421026.0,433057.0,435306.0,448134.0,454134.0,470985.0,476333.0

In [10]:
#saleprice_clean.columns = saleprice_clean.columns.str.replace('SizeRank', 'CityID')

In [11]:
saleprice_clean

,RegionName,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,2017-08-31,2017-09-30,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
1,"New York, NY",386000.0,387000.0,387000.0,390333.0,395000.0,406667.0,420000.0,426667.0,425000.0,...,468333.0,471667.0,471667.0,471667.0,475000.0,483333.0,495000.0,510000.0,522917.0,534583.0
2,"Los Angeles-Long Beach-Anaheim, CA",571833.0,570167.0,577498.0,589165.0,602498.0,609667.0,615000.0,617917.0,619583.0,...,735667.0,732667.0,728333.0,735000.0,750333.0,775333.0,799333.0,817333.0,825667.0,828333.0
3,"Chicago, IL",211333.0,211333.0,216200.0,224867.0,234833.0,241800.0,243467.0,240900.0,233400.0,...,265000.0,263333.0,257592.0,255925.0,259258.0,268333.0,281667.0,290000.0,293667.0,292000.0
4,"Dallas-Fort Worth, TX",236500.0,239000.0,242333.0,249667.0,256667.0,261333.0,261643.0,259583.0,254917.0,...,299667.0,300000.0,297998.0,301332.0,307998.0,320667.0,334000.0,345667.0,354568.0,356235.0
5,"Philadelphia, PA",226333.0,221333.0,217667.0,222000.0,231000.0,243633.0,249300.0,250967.0,243000.0,...,278974.0,278300.0,275000.0,271167.0,267833.0,272833.0,281200.0,293950.0,302283.0,309417.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,"Daytona Beach, FL",174667.0,173000.0,174667.0,178333.0,181633.0,185633.0,188967.0,192233.0,192733.0,...,246333.0,249000.0,251500.0,255100.0,259100.0,265930.0,269297.0,274297.0,279133.0,285800.0
91,"Des Moines, IA",181667.0,179333.0,177867.0,178533.0,185200.0,193000.0,196333.0,197000.0,194000.0,...,234000.0,237917.0,238190.0,236405.0,234155.0,237882.0,243000.0,249667.0,252878.0,259045.0
92,"Provo, UT",258300.0,261633.0,262550.0,266584.0,269917.0,272460.0,274960.0,275432.0,276970.0,...,373000.0,380065.0,386565.0,392065.0,399833.0,418333.0,435000.0,450208.0,456592.0,463258.0
93,"Durham, NC",237667.0,240750.0,238583.0,244733.0,247317.0,256983.0,262667.0,265000.0,259167.0,...,307808.0,310730.0,308005.0,303505.0,311333.0,326667.0,347500.0,361152.0,373486.0,377474.0
94,"Fort Collins, CO",342650.0,345783.0,345783.0,347633.0,348333.0,351650.0,354983.0,355845.0,350331.0,...,425500.0,415469.0,415036.0,421026.0,433057.0,435306.0,448134.0,454134.0,470985.0,476333.0

In [12]:
saleprice_2017 = saleprice_clean

In [13]:
saleprice_2017.drop(saleprice_2017.iloc[:, 37:100], inplace=True, axis=1)

In [14]:
saleprice_2017

,RegionName,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,2017-08-31,2017-09-30,...,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31
1,"New York, NY",386000.0,387000.0,387000.0,390333.0,395000.0,406667.0,420000.0,426667.0,425000.0,...,407500.0,407500.0,410833.0,421667.0,431667.0,435667.0,432333.0,425667.0,421667.0,420000.0
2,"Los Angeles-Long Beach-Anaheim, CA",571833.0,570167.0,577498.0,589165.0,602498.0,609667.0,615000.0,617917.0,619583.0,...,633167.0,643931.0,649098.0,653431.0,661000.0,662667.0,661667.0,654167.0,652667.0,654333.0
3,"Chicago, IL",211333.0,211333.0,216200.0,224867.0,234833.0,241800.0,243467.0,240900.0,233400.0,...,228667.0,236000.0,244000.0,249333.0,251000.0,249333.0,243333.0,238333.0,235000.0,234333.0
4,"Dallas-Fort Worth, TX",236500.0,239000.0,242333.0,249667.0,256667.0,261333.0,261643.0,259583.0,254917.0,...,259193.0,265823.0,272823.0,277355.0,280092.0,278425.0,274333.0,271667.0,270000.0,271833.0
5,"Philadelphia, PA",226333.0,221333.0,217667.0,222000.0,231000.0,243633.0,249300.0,250967.0,243000.0,...,231884.0,236584.0,245918.0,255000.0,262667.0,266633.0,260633.0,253300.0,248333.0,249000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,"Daytona Beach, FL",174667.0,173000.0,174667.0,178333.0,181633.0,185633.0,188967.0,192233.0,192733.0,...,215057.0,215723.0,218057.0,223000.0,226333.0,225667.0,225333.0,225663.0,227327.0,227627.0
91,"Des Moines, IA",181667.0,179333.0,177867.0,178533.0,185200.0,193000.0,196333.0,197000.0,194000.0,...,202000.0,207333.0,213333.0,217333.0,218417.0,223417.0,219750.0,217750.0,215771.0,217431.0
92,"Provo, UT",258300.0,261633.0,262550.0,266584.0,269917.0,272460.0,274960.0,275432.0,276970.0,...,306292.0,310500.0,316000.0,322525.0,325275.0,326788.0,327930.0,331512.0,332330.0,333997.0
93,"Durham, NC",237667.0,240750.0,238583.0,244733.0,247317.0,256983.0,262667.0,265000.0,259167.0,...,276667.0,284250.0,287917.0,289917.0,290333.0,287167.0,285205.0,284538.0,291705.0,296333.0
94,"Fort Collins, CO",342650.0,345783.0,345783.0,347633.0,348333.0,351650.0,354983.0,355845.0,350331.0,...,388967.0,388133.0,393133.0,395225.0,396708.0,395042.0,391633.0,389167.0,385833.0,386667.0

In [15]:
# Export the saleprice Dataframe for 2017-2019 as a new CSV file without the index.
saleprice_2017.to_csv('2017-2019_price.csv', index=False)

### 2020 CSV

In [115]:
saleprices_

,RegionID,SizeRank,RegionName,RegionType,StateName,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
1,394913,1,"New York, NY",Msa,NY,386000.0,387000.0,387000.0,390333.0,395000.0,...,468333.0,471667.0,471667.0,471667.0,475000.0,483333.0,495000.0,510000.0,522917.0,534583.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,571833.0,570167.0,577498.0,589165.0,602498.0,...,735667.0,732667.0,728333.0,735000.0,750333.0,775333.0,799333.0,817333.0,825667.0,828333.0
3,394463,3,"Chicago, IL",Msa,IL,211333.0,211333.0,216200.0,224867.0,234833.0,...,265000.0,263333.0,257592.0,255925.0,259258.0,268333.0,281667.0,290000.0,293667.0,292000.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,236500.0,239000.0,242333.0,249667.0,256667.0,...,299667.0,300000.0,297998.0,301332.0,307998.0,320667.0,334000.0,345667.0,354568.0,356235.0
5,394974,5,"Philadelphia, PA",Msa,PA,226333.0,221333.0,217667.0,222000.0,231000.0,...,278974.0,278300.0,275000.0,271167.0,267833.0,272833.0,281200.0,293950.0,302283.0,309417.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,394528,90,"Daytona Beach, FL",Msa,FL,174667.0,173000.0,174667.0,178333.0,181633.0,...,246333.0,249000.0,251500.0,255100.0,259100.0,265930.0,269297.0,274297.0,279133.0,285800.0
91,394531,91,"Des Moines, IA",Msa,IA,181667.0,179333.0,177867.0,178533.0,185200.0,...,234000.0,237917.0,238190.0,236405.0,234155.0,237882.0,243000.0,249667.0,252878.0,259045.0
92,395006,100,"Provo, UT",Msa,UT,258300.0,261633.0,262550.0,266584.0,269917.0,...,373000.0,380065.0,386565.0,392065.0,399833.0,418333.0,435000.0,450208.0,456592.0,463258.0
93,394549,104,"Durham, NC",Msa,NC,237667.0,240750.0,238583.0,244733.0,247317.0,...,307808.0,310730.0,308005.0,303505.0,311333.0,326667.0,347500.0,361152.0,373486.0,377474.0
94,394602,159,"Fort Collins, CO",Msa,CO,342650.0,345783.0,345783.0,347633.0,348333.0,...,425500.0,415469.0,415036.0,421026.0,433057.0,435306.0,448134.0,454134.0,470985.0,476333.0

In [116]:
# Drop irrelevant columns
saleprice_2020 = saleprices_.drop(['RegionID', 'RegionType', 'StateName', 'SizeRank'], axis = 1)

In [117]:
#saleprice_2020.columns = saleprice_2020.columns.str.replace('SizeRank', 'CityID')

In [118]:
saleprice_2020.drop(saleprice_2020.iloc[:, 1:37], inplace=True, axis=1)

In [119]:
saleprice_2020

,RegionName,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
1,"New York, NY",421667.0,423333.0,424983.0,428317.0,431650.0,440000.0,444667.0,452833.0,456167.0,...,468333.0,471667.0,471667.0,471667.0,475000.0,483333.0,495000.0,510000.0,522917.0,534583.0
2,"Los Angeles-Long Beach-Anaheim, CA",656500.0,660417.0,667800.0,671467.0,669383.0,670333.0,685333.0,710000.0,728000.0,...,735667.0,732667.0,728333.0,735000.0,750333.0,775333.0,799333.0,817333.0,825667.0,828333.0
3,"Chicago, IL",231333.0,229667.0,235333.0,247167.0,254500.0,256167.0,257333.0,263333.0,266667.0,...,265000.0,263333.0,257592.0,255925.0,259258.0,268333.0,281667.0,290000.0,293667.0,292000.0
4,"Dallas-Fort Worth, TX",270500.0,271833.0,273333.0,279832.0,281832.0,285165.0,290000.0,296500.0,299500.0,...,299667.0,300000.0,297998.0,301332.0,307998.0,320667.0,334000.0,345667.0,354568.0,356235.0
5,"Philadelphia, PA",249000.0,248000.0,249167.0,259167.0,266167.0,271833.0,274167.0,279833.0,283007.0,...,278974.0,278300.0,275000.0,271167.0,267833.0,272833.0,281200.0,293950.0,302283.0,309417.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,"Daytona Beach, FL",227297.0,226633.0,227333.0,227333.0,228333.0,230167.0,236167.0,240783.0,243283.0,...,246333.0,249000.0,251500.0,255100.0,259100.0,265930.0,269297.0,274297.0,279133.0,285800.0
91,"Des Moines, IA",216681.0,210327.0,209250.0,214250.0,222583.0,226667.0,228500.0,234167.0,234167.0,...,234000.0,237917.0,238190.0,236405.0,234155.0,237882.0,243000.0,249667.0,252878.0,259045.0
92,"Provo, UT",332332.0,335000.0,336667.0,343333.0,341333.0,348000.0,350667.0,362667.0,366167.0,...,373000.0,380065.0,386565.0,392065.0,399833.0,418333.0,435000.0,450208.0,456592.0,463258.0
93,"Durham, NC",297333.0,293833.0,300667.0,306000.0,308167.0,303333.0,301333.0,308667.0,308417.0,...,307808.0,310730.0,308005.0,303505.0,311333.0,326667.0,347500.0,361152.0,373486.0,377474.0
94,"Fort Collins, CO",391500.0,394167.0,394216.0,395106.0,397439.0,400296.0,401141.0,409151.0,420412.0,...,425500.0,415469.0,415036.0,421026.0,433057.0,435306.0,448134.0,454134.0,470985.0,476333.0

In [96]:
# Export the saleprice Dataframe for 2017-2019 as a new CSV file without the index.
saleprice_2020.to_csv('2020-2021_price.csv', index=False)

### Avg Prices 2020

In [171]:
df_2020 = saleprice_2020.set_index('RegionName')

In [172]:
df_2020['2020']=None
df_2020

,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,...,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2020
RegionName,,,,,,,,,,,,,,,,,,,,,
"New York, NY",421667.0,423333.0,424983.0,428317.0,431650.0,440000.0,444667.0,452833.0,456167.0,463167.0,...,471667.0,471667.0,471667.0,475000.0,483333.0,495000.0,510000.0,522917.0,534583.0,None
"Los Angeles-Long Beach-Anaheim, CA",656500.0,660417.0,667800.0,671467.0,669383.0,670333.0,685333.0,710000.0,728000.0,735667.0,...,732667.0,728333.0,735000.0,750333.0,775333.0,799333.0,817333.0,825667.0,828333.0,None
"Chicago, IL",231333.0,229667.0,235333.0,247167.0,254500.0,256167.0,257333.0,263333.0,266667.0,268333.0,...,263333.0,257592.0,255925.0,259258.0,268333.0,281667.0,290000.0,293667.0,292000.0,None
"Dallas-Fort Worth, TX",270500.0,271833.0,273333.0,279832.0,281832.0,285165.0,290000.0,296500.0,299500.0,299500.0,...,300000.0,297998.0,301332.0,307998.0,320667.0,334000.0,345667.0,354568.0,356235.0,None
"Philadelphia, PA",249000.0,248000.0,249167.0,259167.0,266167.0,271833.0,274167.0,279833.0,283007.0,282307.0,...,278300.0,275000.0,271167.0,267833.0,272833.0,281200.0,293950.0,302283.0,309417.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Daytona Beach, FL",227297.0,226633.0,227333.0,227333.0,228333.0,230167.0,236167.0,240783.0,243283.0,243950.0,...,249000.0,251500.0,255100.0,259100.0,265930.0,269297.0,274297.0,279133.0,285800.0,None
"Des Moines, IA",216681.0,210327.0,209250.0,214250.0,222583.0,226667.0,228500.0,234167.0,234167.0,236333.0,...,237917.0,238190.0,236405.0,234155.0,237882.0,243000.0,249667.0,252878.0,259045.0,None
"Provo, UT",332332.0,335000.0,336667.0,343333.0,341333.0,348000.0,350667.0,362667.0,366167.0,370167.0,...,380065.0,386565.0,392065.0,399833.0,418333.0,435000.0,450208.0,456592.0,463258.0,None
"Durham, NC",297333.0,293833.0,300667.0,306000.0,308167.0,303333.0,301333.0,308667.0,308417.0,310142.0,...,310730.0,308005.0,303505.0,311333.0,326667.0,347500.0,361152.0,373486.0,377474.0,None
"Fort Collins, CO",391500.0,394167.0,394216.0,395106.0,397439.0,400296.0,401141.0,409151.0,420412.0,429343.0,...,415469.0,415036.0,421026.0,433057.0,435306.0,448134.0,454134.0,470985.0,476333.0,None

In [173]:
avg = []

for x in range(len(df_2020)):
    #print(df.iloc[x,1])
    #city_avg = []
    
    #for y in range(12):
    
        #city_avg.append(df_2017.iloc[x,y])
    avg.append(int((df_2020.iloc[x, 1] + df_2020.iloc[x, 2] + df_2020.iloc[x, 3] + df_2020.iloc[x, 4] + df_2020.iloc[x, 5] + df_2020.iloc[x, 6] + df_2020.iloc[x, 7] + df_2020.iloc[x, 8] + df_2020.iloc[x, 9] + df_2020.iloc[x, 10] + df_2020.iloc[x, 11] + df_2020.iloc[x, 12]) / 12))

df_2020['2020']= avg
#avg


avg_2021 =[]
for x in range(len(df_2020)): 
    avg_2021.append(int((df_2020.iloc[x, 13] + df_2020.iloc[x, 14] + df_2020.iloc[x, 15] + df_2020.iloc[x, 16] + df_2020.iloc[x, 17] + df_2020.iloc[x, 18] + df_2020.iloc[x, 19] + df_2020.iloc[x, 20]) / 8))
df_2020['2021']= avg_2021

In [174]:
df_2020.drop(df_2020.iloc[:, 1:20], inplace=True, axis=1)

In [175]:
df_2020

                                    2020-01-31    2020    2021
RegionName
New York, NY                          421667.0  448065  492570
Los Angeles-Long Beach-Anaheim, CA    656500.0  699588  778865
Chicago, IL                           231333.0  255368  274527
Dallas-Fort Worth, TX                 270500.0  289596  326257
Philadelphia, PA                      249000.0  270493  283647
...                                        ...     ...     ...
Daytona Beach, FL                     227297.0  237567  265778
Des Moines, IA                        216681.0  227195  242528
Provo, UT                             332332.0  357802  421636
Durham, NC                            297333.0  305591  338338
Fort Collins, CO                      391500.0  408106  443385

[94 rows x 3 columns]

In [176]:
df_2020 = df_2020.drop(['2020-01-31'], axis = 1)
df_2020

                                      2020    2021
RegionName
New York, NY                        448065  492570
Los Angeles-Long Beach-Anaheim, CA  699588  778865
Chicago, IL                         255368  274527
Dallas-Fort Worth, TX               289596  326257
Philadelphia, PA                    270493  283647
...                                    ...     ...
Daytona Beach, FL                   237567  265778
Des Moines, IA                      227195  242528
Provo, UT                           357802  421636
Durham, NC                          305591  338338
Fort Collins, CO                    408106  443385

[94 rows x 2 columns]

In [177]:
# Export the saleprice_avg Dataframe for 2017-2019 as a new CSV file without the index.
df_2020.to_csv('saleprice_2020_avg.csv', index=True)

### Avg Prices 2021

In [120]:
df_2021 = saleprice_2020.set_index('RegionName')

In [121]:
df_2021['2021_Avg']=None
df_2021

,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,...,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021_Avg
RegionName,,,,,,,,,,,,,,,,,,,,,
"New York, NY",421667.0,423333.0,424983.0,428317.0,431650.0,440000.0,444667.0,452833.0,456167.0,463167.0,...,471667.0,471667.0,471667.0,475000.0,483333.0,495000.0,510000.0,522917.0,534583.0,None
"Los Angeles-Long Beach-Anaheim, CA",656500.0,660417.0,667800.0,671467.0,669383.0,670333.0,685333.0,710000.0,728000.0,735667.0,...,732667.0,728333.0,735000.0,750333.0,775333.0,799333.0,817333.0,825667.0,828333.0,None
"Chicago, IL",231333.0,229667.0,235333.0,247167.0,254500.0,256167.0,257333.0,263333.0,266667.0,268333.0,...,263333.0,257592.0,255925.0,259258.0,268333.0,281667.0,290000.0,293667.0,292000.0,None
"Dallas-Fort Worth, TX",270500.0,271833.0,273333.0,279832.0,281832.0,285165.0,290000.0,296500.0,299500.0,299500.0,...,300000.0,297998.0,301332.0,307998.0,320667.0,334000.0,345667.0,354568.0,356235.0,None
"Philadelphia, PA",249000.0,248000.0,249167.0,259167.0,266167.0,271833.0,274167.0,279833.0,283007.0,282307.0,...,278300.0,275000.0,271167.0,267833.0,272833.0,281200.0,293950.0,302283.0,309417.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Daytona Beach, FL",227297.0,226633.0,227333.0,227333.0,228333.0,230167.0,236167.0,240783.0,243283.0,243950.0,...,249000.0,251500.0,255100.0,259100.0,265930.0,269297.0,274297.0,279133.0,285800.0,None
"Des Moines, IA",216681.0,210327.0,209250.0,214250.0,222583.0,226667.0,228500.0,234167.0,234167.0,236333.0,...,237917.0,238190.0,236405.0,234155.0,237882.0,243000.0,249667.0,252878.0,259045.0,None
"Provo, UT",332332.0,335000.0,336667.0,343333.0,341333.0,348000.0,350667.0,362667.0,366167.0,370167.0,...,380065.0,386565.0,392065.0,399833.0,418333.0,435000.0,450208.0,456592.0,463258.0,None
"Durham, NC",297333.0,293833.0,300667.0,306000.0,308167.0,303333.0,301333.0,308667.0,308417.0,310142.0,...,310730.0,308005.0,303505.0,311333.0,326667.0,347500.0,361152.0,373486.0,377474.0,None
"Fort Collins, CO",391500.0,394167.0,394216.0,395106.0,397439.0,400296.0,401141.0,409151.0,420412.0,429343.0,...,415469.0,415036.0,421026.0,433057.0,435306.0,448134.0,454134.0,470985.0,476333.0,None

In [122]:
avg = []
for x in range(len(df_2021)):
    #print(df.iloc[x,1])
    #city_avg = []
    
    #for y in range(12):
    
        #city_avg.append(df_2017.iloc[x,y])
    avg.append(int((df_2021.iloc[x, 1] + df_2021.iloc[x, 2] + df_2021.iloc[x, 3] + df_2021.iloc[x, 4] + df_2021.iloc[x, 5] + df_2021.iloc[x, 6] + df_2021.iloc[x, 7] + df_2021.iloc[x, 8]) / 12))


df_2021['2021_Avg']= avg
#avg
avg_2021 =[]
for x in range(len(df_)):
    #print(df.iloc[x,1])
    #city_avg = []
    #for y in range(12):
        #city_avg.append(df_2017.iloc[x,y])
    avg_2019.append(int((df.iloc[x, 25] + df.iloc[x, 26] + df.iloc[x, 27] + df.iloc[x, 28] + df.iloc[x, 29] + df.iloc[x, 30] + df.iloc[x, 31] + df.iloc[x, 32] + df.iloc[x, 33] + df.iloc[x, 34] + df.iloc[x, 35] + df.iloc[x, 36]) / 12))
df['2019']= avg_2019

In [123]:
df_2021.drop(df_2021.iloc[:, 1:20], inplace=True, axis=1)

In [124]:
df_2021

                                    2020-01-31  2021_Avg
RegionName
New York, NY                          421667.0    291829
Los Angeles-Long Beach-Anaheim, CA    656500.0    455227
Chicago, IL                           231333.0    167513
Dallas-Fort Worth, TX                 270500.0    189832
Philadelphia, PA                      249000.0    177611
...                                        ...       ...
Daytona Beach, FL                     227297.0    155002
Des Moines, IA                        216681.0    148325
Provo, UT                             332332.0    231986
Durham, NC                            297333.0    202534
Fort Collins, CO                      391500.0    267660

[94 rows x 2 columns]

In [126]:
df_2021 = df_2021.drop(['2020-01-31'], axis = 1)
df_2021

                                    2021_Avg
RegionName
New York, NY                          291829
Los Angeles-Long Beach-Anaheim, CA    455227
Chicago, IL                           167513
Dallas-Fort Worth, TX                 189832
Philadelphia, PA                      177611
...                                      ...
Daytona Beach, FL                     155002
Des Moines, IA                        148325
Provo, UT                             231986
Durham, NC                            202534
Fort Collins, CO                      267660

[94 rows x 1 columns]

In [127]:
df_2020_Avgs = [df_2021, df_2020]

In [128]:
df_2020_Avgs

[                                    2021_Avg
 RegionName
 New York, NY                          291829
 Los Angeles-Long Beach-Anaheim, CA    455227
 Chicago, IL                           167513
 Dallas-Fort Worth, TX                 189832
 Philadelphia, PA                      177611
 ...                                      ...
 Daytona Beach, FL                     155002
 Des Moines, IA                        148325
 Provo, UT                             231986
 Durham, NC                            202534
 Fort Collins, CO                      267660

 [94 rows x 1 columns],
                                     2020Avg
 RegionName
 New York, NY                         448065
 Los Angeles-Long Beach-Anaheim, CA   699588
 Chicago, IL                          255368
 Dallas-Fort Worth, TX                289596
 Philadelphia, PA                     270493
 ...                                     ...
 Daytona Beach, FL                    237567
 Des Moines, IA                       227195
 Provo, UT                            357802
 Durham, NC                           305591
 Fort Collins, CO                     408106

 [94 rows x 1 columns]]

In [129]:
avgs_2020 = pd.concat(df_2020_Avgs)

In [130]:
avgs_2020

                                    2021_Avg   2020Avg
RegionName
New York, NY                        291829.0       NaN
Los Angeles-Long Beach-Anaheim, CA  455227.0       NaN
Chicago, IL                         167513.0       NaN
Dallas-Fort Worth, TX               189832.0       NaN
Philadelphia, PA                    177611.0       NaN
...                                      ...       ...
Daytona Beach, FL                        NaN  237567.0
Des Moines, IA                           NaN  227195.0
Provo, UT                                NaN  357802.0
Durham, NC                               NaN  305591.0
Fort Collins, CO                         NaN  408106.0

[188 rows x 2 columns]